{% extends 'base.html' %}

{% block title %}
Наследуемое
{% endblock %}

{% block body %}
<div class="container"> 
<ol>
      <form action="/p/" method="POST">
        <div class="form-floating">
                <input type="text"  name="name"  class="form-control" id="floatingInput" placeholder="name" required="">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">name</font></font></label>
              </div>
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="имя@пример.com" name="email" required="">
                <label for="floatingInput"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font></label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="new_password" required="">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">new password</font></font></label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="confirm_password" required="">
                <label for="floatingPassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">confirm password</font></font></label>

              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Регистрация</font></font></button>
      </form>
        
  
 </ol>
</div>
{% endblock %}